* {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
}
.title a{
  color: #000;
}
.container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#editor {
  margin-bottom: 2rem;
}
textarea {
  padding: .5rem;
  width: 100%;
  resize: vertical;
  border: 2px solid #273746;
  outline: none;
  background-color: ivory;
}
#preview {
  width: 800px;
  margin-left: 2rem;
  border: 2px solid #273746;
  font-family: Arial;
  background-color: ivory;
}

.topbar {
  color: #FFF;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #273746;
  display: flex;
}
.topbar p{
  margin: 0;
  margin-left: 1rem;
}
.preview-content {
  padding: 0 1rem;
}


@media only screen and (max-width: 1000px) {
  #editor {
    width: 50%;
  }
  #preview {
    margin-left: 0;
    width: 90%;
    margin: auto;
  }
  img {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  #editor {
    width: 75%;
  }
}